body {
  background: #0f0f0f;
  color: white;
  font-family: Arial;
  display: flex;
  justify-content: center;
  padding: 30px;
}

.container {
  width: 100%;
  max-width: 500px;
  background: #1b1b1b;
  padding: 20px;
  border-radius: 15px;
}

input {
  width: 100%;
  padding: 12px;
  margin-bottom: 10px;
  border-radius: 10px;
  border: none;
}

button {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  background: #4caf50;
  border: none;
  color: white;
  font-size: 16px;
  border-radius: 10px;
  cursor: pointer;
}

pre {
  background: #000000;
  padding: 15px;
  border-radius: 10px;
  white-space: pre-wrap;
  margin-top: 20px;
}
